# Environments
dualtl_env/
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and caches
/data/
/cache/
/outputs/
/checkpoints/
/tmp_video/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.npz
*.npy
*.pt
*.pth

# IDE and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
